/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


.background {
  background-color:   #E7EDF5;
  background-repeat: repeat-y;
 }


 .login-container {
  width: 250px;
  height: 300px;
  margin: 100px;
  padding: 20px;
  background-color: #B0C4DE;
}

.float-right {
  float: right;
}

.content-container {
  width: 960px;
  height: auto;
  margin-left: auto;
  margin-right: auto;


  /*background-color: white;*/
}

.barbershop-map-container {

}

.two-third {
  float: left;
  width: 66%;
}

.one-third {
  float: left;
  width: 33%;
}

.one-fourth {
  float: left;
  width: 25%;
}

.one-half-left {
  float: left;
  width: 50%;
}
.one-half-right {

  float: right;
  padding-left: 30px;
  width: 50%;
  overflow: scroll;
}

.ratings-container {
width: 600px;
float:left;

}

.foto{

  height:400px;
  width:400px;
}

.details-container {

font-size: 20px;
}

.hoods-map-container {
  float: left;
  width: 10px;
  height: 10px;

}

.isotope-container{
padding-bottom: 10px;
margin-bottom: 20px;

}

